@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(//fonts.googleapis.com/css?family=Oswald);
/* line 1, ../sass/base/_forms.scss */
.button {
  color: #fff !important;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  letter-spacing: 1px;
  font-size: 0.85em;
  font-weight: normal;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px 20px;
  background-color: #8bc53f; }
  /* line 24, ../sass/abstractions/_mixins.scss */
  .button:hover, .button:focus, .button:active {
    background-color: #7eb436; }

/* line 4, ../sass/base/_forms.scss */
.form-submit {
  color: #fff !important;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  letter-spacing: 1px;
  font-size: 0.85em;
  font-weight: normal;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px 20px;
  background-color: #f27423; }
  /* line 24, ../sass/abstractions/_mixins.scss */
  .form-submit:hover, .form-submit:focus, .form-submit:active {
    background-color: #ed650e; }

/* line 7, ../sass/base/_forms.scss */
.form-textarea,
.form-text {
  background-color: rgba(117, 164, 189, 0.75);
  border: solid 1px #0c79be;
  color: #f5f5f5; }

/* line 14, ../sass/base/_forms.scss */
label {
  color: #0c79be; }

/* line 18, ../sass/base/_forms.scss */
legend {
  text-transform: uppercase;
  color: #0c79be;
  padding: 3px 10px; }

/* line 24, ../sass/base/_forms.scss */
fieldset {
  margin-bottom: 20px; }

@media (max-width: 767px) {
  /* line 29, ../sass/base/_forms.scss */
  .form-text {
    width: 100%; } }
/* line 33, ../sass/base/_forms.scss */
.commerce-line-item-actions input {
  margin-left: 10px; }

/* line 36, ../sass/base/_forms.scss */
.button-operator {
  padding: 10px; }

/* line 41, ../sass/base/_forms.scss */
.views-exposed-form .form-type-bef-checkbox label {
  font-weight: normal; }

/* line 3, ../sass/base/_layout.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 15, ../sass/base/_layout.scss */
.l-header .l-constrained,
.l-sponsor .l-constrained,
.l-main .l-constrained,
.l-footer .l-constrained,
.l-region--secondary .l-constrained,
.l-tertiary .l-constrained {
  *zoom: 1;
  max-width: 1024px;
  max-width: 64rem;
  _width: 1024px;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../../../.rvm/gems/ruby-1.9.3-p547@omega.camp2015/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
  .l-header .l-constrained:after,
  .l-sponsor .l-constrained:after,
  .l-main .l-constrained:after,
  .l-footer .l-constrained:after,
  .l-region--secondary .l-constrained:after,
  .l-tertiary .l-constrained:after {
    content: "";
    display: table;
    clear: both; }

/* line 21, ../sass/base/_layout.scss */
.l-region--highlighted,
.l-region--help,
.l-region--sidebar-first,
.l-region--sidebar-second {
  margin-bottom: 20px; }

@media (min-width: 768px) {
  /* line 34, ../sass/base/_layout.scss */
  .l-header .l-constrained,
  .l-main .l-constrained,
  .l-footer .l-constrained,
  .l-region--secondary .l-constrained,
  .l-tertiary .l-constrained {
    max-width: 1024px;
    max-width: 64rem; }

  /* line 39, ../sass/base/_layout.scss */
  .l-sponsor .l-region--sponsor1 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
  /* line 42, ../sass/base/_layout.scss */
  .l-sponsor .l-region--sponsor2 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
  /* line 45, ../sass/base/_layout.scss */
  .l-sponsor .l-region--sponsor3 {
    width: 32.20339%;
    float: right;
    margin-right: 0; }

  /* line 53, ../sass/base/_layout.scss */
  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  /* line 56, ../sass/base/_layout.scss */
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0; }
  /* line 60, ../sass/base/_layout.scss */
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right; }

  /* line 65, ../sass/base/_layout.scss */
  .group-one-sidebar.group-sidebar-right .group-middle {
    padding-right: 10px; }
  /* line 68, ../sass/base/_layout.scss */
  .group-one-sidebar.group-sidebar-right .group-right {
    padding-left: 10px; }

  /* line 72, ../sass/base/_layout.scss */
  .l-region--footer-left {
    width: 83.05085%;
    float: left;
    margin-right: 1.69492%; }

  /* line 75, ../sass/base/_layout.scss */
  .l-region--footer-right {
    width: 15.25424%;
    float: right;
    margin-right: 0; } }
@media (min-width: 960px) {
  /* line 87, ../sass/base/_layout.scss */
  .l-header .l-constrained,
  .l-main .l-constrained,
  .l-footer .l-constrained,
  .l-region--secondary .l-constrained,
  .l-tertiary .l-constrained {
    max-width: 1024px;
    max-width: 64rem; }

  /* line 94, ../sass/base/_layout.scss */
  .has-sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0; }
  /* line 97, ../sass/base/_layout.scss */
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }

  /* line 102, ../sass/base/_layout.scss */
  .has-sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%; }
  /* line 105, ../sass/base/_layout.scss */
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none; }

  /* line 112, ../sass/base/_layout.scss */
  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%; }
  /* line 116, ../sass/base/_layout.scss */
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%; }
  /* line 120, ../sass/base/_layout.scss */
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%; }
  /* line 123, ../sass/base/_layout.scss */
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none; } }
/* line 132, ../sass/base/_layout.scss */
.ds-2col-stacked-fluid .group-left {
  padding-right: 10px; }
/* line 135, ../sass/base/_layout.scss */
.ds-2col-stacked-fluid .group-right {
  padding-left: 10px; }
@media (max-width: 767px) {
  /* line 139, ../sass/base/_layout.scss */
  .ds-2col-stacked-fluid .group-left,
  .ds-2col-stacked-fluid .group-right {
    width: auto;
    float: none;
    padding: 0 0 20px 0; } }

/* line 1, ../sass/base/_layout.styles.scss */
.l-header,
.l-navigation {
  overflow: hidden;
  *zoom: 1; }

/* line 7, ../sass/base/_layout.styles.scss */
html {
  background: url(../images/page_bg.jpg) 0 0 repeat #2c2c2c;
  height: 100%; }

/* line 16, ../sass/base/_layout.styles.scss */
.l-header {
  background: url(../images/banner.jpg) top center no-repeat #2c2c2c;
  background-attachment: fixed;
  padding: 20px 0;
  margin-top: 50px; }

/* line 23, ../sass/base/_layout.styles.scss */
.not-front .site-logo img {
  width: 150px;
  height: auto; }

/* line 28, ../sass/base/_layout.styles.scss */
.l-branding {
  text-align: center; }

/* line 32, ../sass/base/_layout.styles.scss */
.l-navigation {
  background-color: #2c2c2c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out 0;
  -moz-transition: all 0.4s ease-in-out 0;
  -o-transition: all 0.4s ease-in-out 0;
  -ms-transition: all 0.4s ease-in-out 0;
  transition: all 0.4s ease-in-out 0; }
  /* line 40, ../sass/base/_layout.styles.scss */
  .l-navigation.stuck {
    background-color: rgba(44, 44, 44, 0.5); }

/* line 46, ../sass/base/_layout.styles.scss */
.l-main {
  background: url(../images/ice.png) top center repeat-x transparent;
  background-position-y: -4px;
  border-top: solid 1px #fff;
  padding: 40px 0 20px 0; }

/* line 54, ../sass/base/_layout.styles.scss */
.l-sponsor {
  text-align: center;
  background-color: rgba(12, 121, 190, 0.1);
  padding: 50px 0;
  margin: 50px 0; }

/* line 61, ../sass/base/_layout.styles.scss */
.l-footer {
  background-color: rgba(44, 44, 44, 0.5);
  padding: 40px 0; }

/* line 66, ../sass/base/_layout.styles.scss */
.field--name-field-sections {
  border-top: dotted 1px #555; }
  /* line 68, ../sass/base/_layout.styles.scss */
  .field--name-field-sections .node--section {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: dotted 1px #555; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_tables.scss */
table {
  width: 100%; }

/* line 4, ../sass/base/_tables.scss */
th {
  background-color: rgba(12, 121, 190, 0.5); }

/* line 8, ../sass/base/_tables.scss */
tr.even {
  background-color: rgba(117, 164, 189, 0.5); }
/* line 11, ../sass/base/_tables.scss */
tr.odd {
  background-color: rgba(12, 121, 190, 0.25); }

/* line 15, ../sass/base/_tables.scss */
td, th {
  padding: 10px; }

/* line 1, ../sass/base/_typography.scss */
html,
body {
  color: #f5f5f5;
  font-family: "Open Sans", HelveticaNeue, Helvetica, Arial, sans-serif; }

/* line 7, ../sass/base/_typography.scss */
h1 {
  font-family: "Oswald", "Arial Black", "Arial Bold", Gadget, sans-serif;
  color: #75a4bd;
  text-transform: uppercase; }

/* line 13, ../sass/base/_typography.scss */
h2, h3, h4, h5, h6 {
  font-family: "Oswald", "Arial Black", "Arial Bold", Gadget, sans-serif;
  color: #8bc53f;
  text-transform: uppercase; }

/* line 20, ../sass/base/_typography.scss */
h2.site-slogan {
  color: #f27423; }

/* line 35, ../sass/abstractions/_mixins.scss */
a:link, a:visited {
  color: #75a4bd; }
/* line 39, ../sass/abstractions/_mixins.scss */
a:hover, a:focus, a:active {
  color: #f27423; }

/* line 35, ../sass/abstractions/_mixins.scss */
.l-footer:link, .l-footer:visited {
  color: #555; }
/* line 39, ../sass/abstractions/_mixins.scss */
.l-footer:hover, .l-footer:focus, .l-footer:active {
  color: #f5f5f5; }

/* line 2, ../sass/components/_navigation.scss */
.l-navigation ul.menu {
  text-align: center;
  padding: 0;
  margin: 0; }
  /* line 7, ../sass/components/_navigation.scss */
  .l-navigation ul.menu li {
    list-style-image: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block; }
    /* line 14, ../sass/components/_navigation.scss */
    .l-navigation ul.menu li a {
      display: block;
      padding: 10px 20px;
      font-family: "din-condensed-web", sans-serif;
      text-transform: uppercase;
      text-decoration: none; }
      /* line 35, ../sass/abstractions/_mixins.scss */
      .l-navigation ul.menu li a:link, .l-navigation ul.menu li a:visited {
        color: #fff; }
      /* line 39, ../sass/abstractions/_mixins.scss */
      .l-navigation ul.menu li a:hover, .l-navigation ul.menu li a:focus, .l-navigation ul.menu li a:active {
        color: #75a4bd; }
      /* line 24, ../sass/components/_navigation.scss */
      .l-navigation ul.menu li a.active {
        color: #75a4bd; }
@media (min-width: 768px) {
  /* line 31, ../sass/components/_navigation.scss */
  .l-navigation ul.menu li {
    font-size: 1.5em; } }

/* line 37, ../sass/components/_navigation.scss */
.tabs--primary {
  border-bottom-color: #75a4bd; }

/* line 40, ../sass/components/_navigation.scss */
.tabs a {
  background-color: #75a4bd; }
  /* line 35, ../sass/abstractions/_mixins.scss */
  .tabs a:link, .tabs a:visited {
    color: #fff; }
  /* line 39, ../sass/abstractions/_mixins.scss */
  .tabs a:hover, .tabs a:focus, .tabs a:active {
    color: #f27423; }
  /* line 45, ../sass/components/_navigation.scss */
  .tabs a.active, .tabs a:hover {
    background-color: #fff; }
    /* line 35, ../sass/abstractions/_mixins.scss */
    .tabs a.active:link, .tabs a.active:visited, .tabs a:hover:link, .tabs a:hover:visited {
      color: #0c79be; }
    /* line 39, ../sass/abstractions/_mixins.scss */
    .tabs a.active:hover, .tabs a.active:focus, .tabs a.active:active, .tabs a:hover:hover, .tabs a:hover:focus, .tabs a:hover:active {
      color: #f27423; }

/* line 52, ../sass/components/_navigation.scss */
.l-footer ul.menu {
  padding: 0;
  margin: 0;
  border-top: dotted 1px #fff; }
  /* line 57, ../sass/components/_navigation.scss */
  .l-footer ul.menu li {
    list-style-image: none;
    list-style: none;
    padding: 0;
    margin: 0; }
    /* line 63, ../sass/components/_navigation.scss */
    .l-footer ul.menu li a {
      display: block;
      padding: 5px 10px;
      font-family: "din-condensed-web", sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      border-bottom: dotted 1px #fff; }
      /* line 35, ../sass/abstractions/_mixins.scss */
      .l-footer ul.menu li a:link, .l-footer ul.menu li a:visited {
        color: #fff; }
      /* line 39, ../sass/abstractions/_mixins.scss */
      .l-footer ul.menu li a:hover, .l-footer ul.menu li a:focus, .l-footer ul.menu li a:active {
        color: #75a4bd; }
      /* line 73, ../sass/components/_navigation.scss */
      .l-footer ul.menu li a.active {
        color: #75a4bd; }

/* line 1, ../sass/components/_page--sponsors.scss */
.node-4-product-commerce-price {
  font-size: 2.5em;
  color: #8bc53f; }

/* line 13, ../sass/components/_page--sponsors.scss */
h4 {
  border-bottom: dotted 1px #75a4bd; }
  /* line 15, ../sass/components/_page--sponsors.scss */
  h4.bronze {
    color: #9e7b01; }
  /* line 18, ../sass/components/_page--sponsors.scss */
  h4.silver {
    color: #879393; }
  /* line 21, ../sass/components/_page--sponsors.scss */
  h4.gold {
    color: #b09b28; }
  /* line 24, ../sass/components/_page--sponsors.scss */
  h4.platinum {
    color: #a9c2c4; }

/* line 30, ../sass/components/_page--sponsors.scss */
.page-node-4 .group-right {
  padding: 10px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(85, 85, 85, 0.5);
  color: #fff; }
  /* line 36, ../sass/components/_page--sponsors.scss */
  .page-node-4 .group-right .form-text {
    width: 100%; }

/*# sourceMappingURL=camp2015.no-query.css.map */
