.node-4-product-commerce-price {
	font-size: 2.5em;
	color: $green;
}

.group-sponsor-contact {
	label {
		// color: $orange;
	}

}

h4 {
	border-bottom: dotted 1px $ltblue;
	&.bronze {
		color: #9e7b01;
	}
	&.silver {
		color: #879393;
	}
	&.gold {
		color: #b09b28;
	}
	&.platinum {
		color: #a9c2c4;
	}
}

.page-node-4 {
	.group-right {
		padding: 10px 20px;
		@include border-radius(5px);
		background-color: rgba($gray, 0.5);
		color: $white;

		.form-text {
			width: 100%;
		}
		label {
			color: $ltblue;
		}
	}
}

