.page-sessions-wishes {
	.views-row {
		margin-bottom: 30px;
		.group-middle {
			@include clearfix;
		}
	}
	.field--name-node-link a {
		@include button($ltblue);
			padding: 2px 6px;
			font-size: 0.7em;
	}
}
.button.wish {
	@include button($blue);
}