.button {
	@include button;
}
.form-submit {
	@include button($submitbg,$submittext);
}
.form-textarea,
.form-text {
	background-color: rgba($ltblue, 0.75);
	border: solid 1px $blue;
	color: $smoke;
}

label {
	color: $blue;
}

legend {
	text-transform: uppercase;
	color: $blue;
	padding: 3px 10px;
}

fieldset {
	margin-bottom: 20px;
}

@include at-breakpoint($mobile) {
	.form-text {
		width: 100%;
	}
}
.commerce-line-item-actions input {
	margin-left: 10px;
}
.button-operator {
	padding: 10px;
}

// misc.
.views-exposed-form .form-type-bef-checkbox label {
	font-weight: normal;
}